body{
background-color: gray;
overflow-x: hidden;
}
.title{
    display: flex;
    justify-content: center;
    font-size: larger;
    margin-bottom:80px;
}

.optionTitle{
    display: grid;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
}
.options{
    display: grid;
}


.Rotor1{
 display: grid;
 grid-column-start: 1;
 grid-template-columns: 1;
 justify-content: center;
}

.Rotor2{
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 2;
    justify-content: center;
}

.Rotor3{
    display: grid;
    grid-column-start: 3;
    grid-template-columns: 3;
    justify-content: center;
}

.inputGrid{
    display: grid;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-template-columns: 2;
    margin-top: 100px;
    padding: 50px;
}

.submitGrid{
    display: grid;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-template-columns: 2;
}
.submitGrid2{
    display: grid;
    grid-row-start: 5;
    grid-column-start: 2;
    grid-template-columns: 2;
}
#output{
    display: grid;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 100px;
    font-size:xx-large;
}


.footer{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:150px
}

.plugBoardContainer{
    background-color: rgb(126, 123, 123);
    border: 2px solid white;
    display: flex;
    justify-content: center;
}

.plugBoardTitle{
    display: flex;
    justify-content: center;
}
.outputDiv{
    /* background-color: red; */
    margin:55px;

    
}

.divReflector{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

